---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import WhyNow from "../components/WhyNow.astro";
import UseCases from "../components/UseCases.astro";
import Architecture from "../components/Architecture.astro";
import Adapters from "../components/Adapters.astro";
import Platform from "../components/Platform.astro";
import FinalCTA from "../components/FinalCTA.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <main>
    <Hero />
    <WhyNow />
    <UseCases />
    <Architecture />
    <Adapters />
    <Platform />
    <FinalCTA />
  </main>
  <Footer />
</Layout>
